{% extends 'blog/base.html' %}
        {% block content %}
        <h1 class="my-4">BLOG
        </h1>
        {% if object_list.exists %}
        {% for p in object_list %}
        <!-- Blog Post -->
        <div class="card mb-4">
<!--          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/500/300.jpg" alt="Card image cap">
            {% endif %}

          <div class="card-body">
            <h2 class="card-title">{{ p.title }}</h2>
            <p class="card-text">{{ p.content | truncatewords:50}}</p>
            <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
              {{ p.created }} by {{ p.author }}
            <a href="#">Start Bootstrap</a>
          </div>
         {% endfor %}
         {% else %}
           <h1>포스트가 없습니다</h1>
         {% endif %}
         {% endblock %}