{% extends 'blog/base.html' %}
        {% block content %}
        <h1 class="my-4">BLOG:
            {% if category.slug %}<small class="text-muted">{{ category }}</small>{% endif %}
            {% if tag %}<small class="text-muted">#{{ tag }}</small>{% endif %}
        </h1>
        {% if object_list.exists %}
        {% for p in object_list %}
        <!-- Blog Post -->

<!--          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/500/300.jpg" alt="Card image cap">
            {% endif %}

          <div class="card-body">
            {% if p.category %}
            <span class="badge badge-primary">{{ p.category }}</span>
            {% else %}
            <span class="badge badge-primary">미분류</span>
            {% endif %}
            <h2 class="card-title">{{ p.title }}</h2>
            <p class="card-text">{{ p.content | truncatewords:50}}</p>

            {% for tag in p.tags.all %}
              <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
            {% endfor %}
            <br><br>
            <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
              {{ p.created }} by {{ p.author }}
            <a href="#">Start Bootstrap</a>
          </div>
         {% endfor %}
         {% else %}
           <h1>포스트가 없습니다</h1>
         {% endif %}
         {% endblock %}