    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbarnav">
      <div class="container">
      <a href="../" class="navbar-brand">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_me">About Me</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user }}<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="download">
  <!--                <a class="dropdown-item" target="_blank" href="https://jsfiddle.net/bootswatch/rnjfzjjo/">Open in JSFiddle</a>-->
  <!--                <div class="dropdown-divider"></div>-->
  <!--                <a class="dropdown-item" href="../4/litera/bootstrap.min.css" download>bootstrap.min.css</a>-->
  <!--                <a class="dropdown-item" href="../4/litera/bootstrap.css" download>bootstrap.css</a>-->
  <!--                <div class="dropdown-divider"></div>-->
  <!--                <a class="dropdown-item" href="../4/litera/_variables.scss" download>_variables.scss</a>-->
                  <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                  로그인
                </button>
              </li>
            {% endif %}
          </ul>

        </div>
    </div>
    </div>

{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <a role="button" class="btn btn-outline-primary" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>Login with Google</a>
            <a role="button" class="btn btn-outline-primary" href="/accounts/login"><i class="far fa-envelope"></i>Login with Email</a>
          </div>
          <div class="col-md-6">
            <a role="button" class="btn btn-outline-info" href="/accounts/signup"><i class="far fa-envelope"></i>Sign up with Email</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>